h1 {
    color: whitesmoke;
    display: flex;
    justify-content: center;

}

body {
    font-family: 'Poppins', sans-serif; 
    min-height: 100vh;
    font-size: 1.5rem;
    background-color:#222222;
}


/* Field inputs */




.whole-field-area {
    box-sizing: border-box;
    color: #000;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 22.5px;
    padding: 0 8px;
  }
  


  .whole-field-area:after {
    clear: both;
    content: "";
    display: table;
  }
  


  .whole-field-area:before {
    clear: both;
    content: "";
    display: table;
  }
  
  .inner-whole-field-area {
    box-sizing: inherit;
    color: #000;
    float: left;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 22.5px;
    padding: 0 8px;
    width: 100%;
    
  }
  
/* Media query for .inner-whole-field-area */

  @media (min-width: 601px) {
    .inner-whole-field-area {
      width: 50%;
      margin: 0 25% 0 25%;  
      
    }
 
    }
 

  /* END: Media query for .inner-whole-field-area */



  .whole-field-area .inner-whole-field-area {
    box-sizing: inherit;
     
}




  .input-field {
   
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }




  

  .input-field:focus {
    
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight:700;  
  }


  

  .input-label:focus {
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e,#38ef7d);
    border-image-slice: 1;
  }


/* END - Field inputs */